body {
    text-align: center;
}

button {
  width: 100px;
  height: 35px;
  color: white;
  background-color: #00b300;
  font-size: 125%;
}

h1 {
  font-family: sans-serif;
}

.heading {
  font-size: 250%;
}

.btns {
  padding-top: 20px;
}

.modal {
  display: none;
  position: absolute;
  background: #e6e6e6;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.hide {
  display: none;
}
